html {-webkit-text-size-adjust: none; -ms-touch-action: none; overflow-x: hidden;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{ margin: 0; padding: 0;}
*, *::after, *::before{ box-sizing:border-box; -webkit-box-sizing:border-box; }
.video embed, .video object{width: 100%;height: auto;}
input[type="submit"],input[type="reset"],input[type="button"],input[type="text"],input[type="password"],select,button,textarea {-webkit-appearance: none;}
.css{-webkit-touch-callout: none}
h1,h2,h3,h4,h5,h6{ font-size: 100%; font-weight: normal;}
i{ font-style: normal;}
li{ list-style: none}
img{border:0; max-width: 100%; height: auto; vertical-align: top; object-fit: cover; -o-object-fit: cover;}
a{ -webkit-tap-highlight-color: rgba(0,0,0,0); color:#000; text-decoration: none; outline: none;}
em{ font-style:normal;}
body{ background:#fff; font-size:.6rem; line-height: 1.2rem;  font-family: Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,Heiti SC,STHeiti,SimSun,sans-serif;}
.clearfix:after {content:"."; display: block; visibility: hidden; height: 0; clear: both; }/* 清除浮动*/* html .clearfix{ zoom: 1; }
.fl{ float: left;} .fr{ float: right;}
.col-center-around{ display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: center; -ms-flex-align: center; align-items: center;}
.col-center-between{ display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;}
.col-center-center{ display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column;}
.row-all-center{ display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.row-between-center{ display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center;}
.row-around-center{ display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: center; -ms-flex-align: center; align-items: center;}
.row-start-center{ display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start;}
.flex-wrap{ -ms-flex-wrap: wrap; flex-wrap: wrap; }
/*-------------------------------------------------------------------------------------------------------------------------*/
.container{ width: 100%; max-width: 640px; margin: 0 auto;}
#audio{ position: fixed; top: .6rem; right: .6rem; width: 1.5rem; height: 1.5rem; z-index: 98;}
#audio span{ display: block; width: 100%; height: 100%; background-repeat: no-repeat; background-position: center; background-size: 100%; -webkit-tap-highlight-color: rgba(0,0,0,0);}
#audio span.music{ background-image: url(../images/off.png);}
#audio span.music-off{ background-image: url(../images/on.png);}
#audio span.on{ background-image: url(../images/on.png); animation: 20s linear 0s normal none infinite rotate; -webkit-animation: 20s linear 0s normal none infinite rotate;}
@-webkit-keyframes rotate{
  from{-webkit-transform: rotate(0deg); transform: rotate(0deg)}
  to{-webkit-transform: rotate(360deg); transform: rotate(360deg)}
}
@keyframes rotate{
  from{-webkit-transform: rotate(0deg); transform: rotate(0deg)}
  to{-webkit-transform: rotate(360deg); transform: rotate(360deg)}
}
.loading_box{ position: relative; width: 100%; height: 100vh; background:#fe1414; z-index: 15;}
.loading_text{ color:#fff; font-size: .6rem; text-align: center; position: absolute; top: 50%; left:50%; width: 60px; margin-left: -36px; margin-top: 40px}
.loading{ height:60px; width:60px; z-index: 66; margin-right: 40px; display: inline-block; -webkit-transition: all .3s ease-in-out 0; transition:all .3s ease-in-out 0; position: absolute;left:50%; top:50%; margin-left: -42px; margin-top:-42px}
.sk-folding-cube{ -webkit-transform: rotateZ(45deg); transform: rotateZ(45deg)}
.sk-folding-cube .sk-cube{ float: left; width: 50%;height: 50%;position:relative; -webkit-transform: scale(1.1);transform: scale(1.1)}
.sk-folding-cube .sk-cube:before{ content:''; position: absolute; top: 0; left: 0; width:100%; height: 100%; background-color:#fff;-webkit-animation:sk-foldCubeAngle 2.4s infinite linear both; animation:sk-foldCubeAngle 2.4s infinite linear both; -webkit-transform-origin: 100% 100%;transform-origin: 100% 100%}
.sk-folding-cube .sk-cube2{ -webkit-transform: scale(1.1) rotateZ(90deg); transform: scale(1.1) rotateZ(90deg)}
.sk-folding-cube .sk-cube3{ -webkit-transform: scale(1.1) rotateZ(180deg); transform: scale(1.1) rotateZ(180deg)}
.sk-folding-cube .sk-cube4{ -webkit-transform: scale(1.1) rotateZ(270deg); transform: scale(1.1) rotateZ(270deg)}
.sk-folding-cube .sk-cube2:before{ -webkit-animation-delay: .3s; animation-delay: .3s}
.sk-folding-cube .sk-cube3:before{ -webkit-animation-delay: .6s; animation-delay: .6s}
.sk-folding-cube .sk-cube4:before{ -webkit-animation-delay: .9s; animation-delay: .9s}
@-webkit-keyframes sk-foldCubeAngle{0%,10%{-webkit-transform:perspective(140px) rotateX(-180deg);transform:perspective(140px) rotateX(-180deg);opacity:0}
25%,75%{-webkit-transform:perspective(140px) rotateX(0);transform:perspective(140px) rotateX(0);opacity:1}
90%,100%{-webkit-transform:perspective(140px) rotateY(180deg);transform:perspective(140px) rotateY(180deg);opacity:0}
}
@keyframes sk-foldCubeAngle{0%,10%{-webkit-transform:perspective(140px) rotateX(-180deg);transform:perspective(140px) rotateX(-180deg);opacity:0}
25%,75%{-webkit-transform:perspective(140px) rotateX(0);transform:perspective(140px) rotateX(0);opacity:1}
90%,100%{-webkit-transform:perspective(140px) rotateY(180deg);transform:perspective(140px) rotateY(180deg);opacity:0}
}
@keyframes sk-foldCubeAngle{0%,10%{-webkit-transform:perspective(140px) rotateX(-180deg);transform:perspective(140px) rotateX(-180deg);opacity:0}
25%,75%{-webkit-transform:perspective(140px) rotateX(0);transform:perspective(140px) rotateX(0);opacity:1}
90%,100%{-webkit-transform:perspective(140px) rotateY(180deg);transform:perspective(140px) rotateY(180deg);opacity:0}
}
@keyframes sk-foldCubeAngle{0%,10%{-webkit-transform:perspective(140px) rotateX(-180deg);transform:perspective(140px) rotateX(-180deg);opacity:0}
25%,75%{-webkit-transform:perspective(140px) rotateX(0);transform:perspective(140px) rotateX(0);opacity:1}
90%,100%{-webkit-transform:perspective(140px) rotateY(180deg);transform:perspective(140px) rotateY(180deg);opacity:0}
}

.home{ width: 100%; height: 100vh; position: relative; overflow: hidden; display: none;}
.home-1{ width: 100%; height: calc(100vh - 1rem); position: absolute; left: 0; top: 0; z-index: 9;}
.home-1 img{ position: absolute; left: 0; bottom: 0;}
.home-1::before{ content: ''; width: 100%; height: calc(100vh - 20rem); position: absolute; left: 0; top: 0; background: #fe1414;}
.home-1::after{ content: ''; width: 100%; height: 25vh; position: absolute; left: 0; top: 0; background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,.3)), to(rgba(0,0,0,0))); background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,0));}
.home-1-bg{ height: 100vh; z-index: 8; -webkit-animation-delay: .2s; animation-delay: .2s;}
.home-1-bg img{ opacity: .3;}
.home-1-bg::before,.home-1-bg::after{ display: none;}
.home-2{ width: 54%; position: absolute; left: 0; bottom: -2.5rem; z-index: 12; -webkit-animation-delay: .5s; animation-delay: .5s;}
.home-2-bg{ bottom: -3.5rem; z-index: 11; -webkit-animation-delay: .7s; animation-delay: .7s;}
.home-2-bg img{ opacity: .3;}
.home-3{ width: 4.7rem; position: absolute; z-index: 13; left: 0; bottom: 0; -webkit-animation-delay: .9s; animation-delay: .9s;}
.home-3 img{ -webkit-animation: home3 .4s linear alternate; animation: home3 .4s linear alternate; -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite;}
@-webkit-keyframes home3{
  0%{
    -webkit-transform: translateX(-.4rem);
            transform: translateX(-.4rem);
  }
  100%{
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes home3{
  0%{
    -webkit-transform: translateX(-.4rem);
            transform: translateX(-.4rem);
  }
  100%{
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.home-logo{ width: 4.9rem; position: absolute; top: 1rem; left: 1rem; z-index: 14; -webkit-animation-delay: 1.1s; animation-delay: 1.1s;}
.home-4{ width: 6.5rem; position: absolute; top: 50%; left: 50%; margin-left: -3.25rem; margin-top: -9.5rem; z-index: 14; -webkit-animation-duration: 2s !important; animation-duration: 2s !important; -webkit-animation-delay: 1.3s; animation-delay: 1.3s;}
.home-5{ width: 13.9rem; position: absolute; top: 50%; left: 50%; margin-left: -6.95rem; margin-top: -2.5rem; z-index: 14; -webkit-animation-duration: 2s !important; animation-duration: 2s !important; -webkit-animation-delay: 1.6s; animation-delay: 1.6s;}
.home-6{ width: 3.7rem; position: absolute; top: 50%; left: 50%; margin-left: 2.5rem; margin-top: -10.5rem; z-index: 14; -webkit-animation-delay: 1.7s; animation-delay: 1.7s;}
.wenan{ display: none; text-align: center;}
.wenanLink{ display: block; position: relative; width: 100%; height: 6rem;}
.wenanLink img{ position: absolute; top: 50%; left: 50%; margin-left: -5.5rem; margin-top: -1.8rem; width: 11rem; height: 3.6rem; }
.wenanLink .wenanLink-2{ -webkit-animation: wenanLink1 .4s linear alternate; animation: wenanLink1 .4s linear alternate; -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite;}
.wenanLink .wenanLink-1{ -webkit-animation: wenanLink2 .4s linear alternate; animation: wenanLink2 .4s linear alternate; -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite;}
@-webkit-keyframes wenanLink1{
  0%{
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  100%{
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
@keyframes wenanLink1{
  0%{
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  100%{
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
@-webkit-keyframes wenanLink2{
  0%{
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  100%{
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
@keyframes wenanLink2{
  0%{
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  100%{
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
.photoImgs{ width: 100%; height: 100vh; display: none; background: #fb1010 url(../images/body.jpg) no-repeat center bottom; background-size: 100%; padding-bottom: 10vh;}
.photoImgs .col-center-center{ width: 100%; height: 100%;}
.photoImgs .h-1{ width: 8rem;}
.photoImgs .h-2{ width: 5.2rem; margin: 1vh auto 3vh;}
.photoImgs .h-3{ width: 3.5rem; position: absolute; bottom: 1.2rem; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%);}
.imgs{ width: 12.1rem; height: 12.1rem; background: #fff; border: .25rem solid #fff; margin: 0 auto 2vh;}
.imgsClick{ display: block; width: 100%; height: 100%; background: url(../images/bg-4.png) no-repeat center, url(../images/pics.jpg) no-repeat center; background-size: 1.9rem, 100%;}
.imgsClick input{ display: block; width: 100%; height: 100%; opacity: 0; filter: alpha(opacity=0);}
.imgsSuccess{ display: none; width: 100%; height: 100%; overflow: hidden;}
.photoImgs .tips{ text-align: center; width: 7rem; color: #550404; position: relative; margin: 0 auto; background: #ffc000; border-radius: 2rem; border: 1px solid #550404; font-size: .55rem;}
.photoImgs .tips::before,.photoImgs .tips::after{ content: ''; width: .3rem; height: 2px; background: #ffc000; border-radius: 2px; position: absolute; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%);}
.photoImgs .tips::before{ left: -.6rem;}
.photoImgs .tips::after{ right: -.6rem;}
.btns .btn{ display: block; margin: 2vh .2rem 0; width: 4.2rem; height: 1.9rem; line-height: 1.9rem; text-align: center; background: url(../images/bg-2.png) no-repeat center; background-size: 100% 100%; font-size: .75rem; color: #410003; font-weight: bold; text-shadow: 2px 2px 0 rgba(0,0,0,.2);}
.sharePhotos{ width: 100%; height: 100%; position: fixed; top: 0; left: 0; background: rgba(0,0,0,.8); z-index: 99; display: none;}
.sharePhotos .col-center-center{ width: 100%; height: 100%;}
.shareImg{ width: 12.1rem;}
.sharePhotos img{ width: 100%; -webkit-box-shadow: 10px 0 1.2rem rgba(0,0,0,.8); box-shadow: 10px 0 1.2rem rgba(0,0,0,.8);}
.sharePhotos p{ color: #fff; margin-top: .6rem; text-align: center; position: relative;}
.sharePhotos p::before,.sharePhotos p::after{ content: ''; width: .3rem; height: 2px; background: #ffc000; border-radius: 2px; position: absolute; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%);}
.sharePhotos p::before{ left: -.6rem;}
.sharePhotos p::after{ right: -.6rem;}
.close{ width: 2rem; height: 2rem; background: #ffc000; border: 2px solid #550004; border-radius: 50%; margin-top: 1rem; position: relative;}
.close::before,.close::after{ content: ''; width: .8rem; height: 2px; background: #550004; border-radius: 2px; position: absolute; top: 50%; left: 50%;}
.close::before{ -webkit-transform: translate(-50%,-50%) rotate(45deg); transform: translate(-50%,-50%) rotate(45deg);}
.close::after{ -webkit-transform: translate(-50%,-50%) rotate(135deg); transform: translate(-50%,-50%) rotate(135deg);}
.alert{ width: 100%; height: 100vh; position: fixed; top: 0; left: 0; display: none; z-index: 9999;}
.alert-b{ width: 58%; padding: 1rem; background: #fff; border-radius: .6rem; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%,-50%); transform: translate(-50%,-50%); color: #333; font-size: .7rem; text-align: center;}
.alert-c{ display: block; width: 4rem; height: 1.5rem; line-height: 1.5rem; margin: 1rem auto 0; text-align: center; border-radius: 1rem; background: #f51010; color: #fff; font-size: .6rem; -webkit-box-shadow: 2px 2px 0 rgba(0,0,0,.2); box-shadow: 2px 2px 0 rgba(0,0,0,.2);}
.alert-c:active{ opacity: .8;}
.alert-bg{ width: 100%; height: 100%; background: rgba(0,0,0,.8);}
.loadering{ width: 100%; height: 100vh; position: fixed; top: 0; left: 0; z-index: 9999; background: rgba(0,0,0,.8); display: none;}
.loadering .loader{ width: 58%; padding: 1.2rem; background: #fb1010; border: 2px solid #550004; border-radius: .6rem; color: #fff; font-size: .6rem; text-align: center;}
.circle-side{
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 auto 1rem;
  -webkit-animation: circle infinite .75s linear;
  -moz-animation: circle infinite .75s linear;
  -o-animation: circle infinite .75s linear;
  animation: circle infinite .75s linear;
  border: 2px solid #fff;
  border-top-color: rgba(0,0,0,.2);
  border-right-color: rgba(0,0,0,.2);
  border-bottom-color: rgba(0,0,0,.2);
  border-radius: 100%
}
@-webkit-keyframes circle {
  0% {
      -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
      -o-transform: rotate(0);
      transform: rotate(0)
  }
  100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg)
  }
}
@-moz-keyframes circle {
  0% {
      -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
      -o-transform: rotate(0);
      transform: rotate(0)
  }
  100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg)
  }
}
@-o-keyframes circle {
  0% {
      -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
      -o-transform: rotate(0);
      transform: rotate(0)
  }
  100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg)
  }
}
@keyframes circle {
  0% {
      -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
      -o-transform: rotate(0);
      transform: rotate(0)
  }
  100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg)
  }
}